@import "../resetcss.css";


li{
    font-size: 1.8em;
    margin: 0.5rem
    }
    .list-skin{
        width: 50%;
        margin: 1rem 5rem;
    }
    
/* --------------------------------------------------------------- */
.form-input {
    padding: 0.5rem 2rem;
    margin: 0.2rem;
    border: transparent;
    outline: none;
   width: 90%; 
  }
  fieldset {
    margin-bottom: 1rem;
}
  
  legend {
    font-size: 2rem;
  }
  .input-container{
    border: 1px solid var(--primary-color);
   
    width: 50%;
    margin : 2rem;
    padding: 2rem;
  }
  .input-validation{
    color: var(--discount-color);
    font-size: 2rem;
  }
  .form-button{
    width: 10rem;
    height: 3rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 1rem;
  }
  /*--------------------------------------------------------------------------------  */
  .pass-validation{
    border-color: red;
    color: red;
  }
  