@import "./resetcss.css";
@import "./variableCss.css";




.brand-name{
    font-size: 5rem;
   
}
.brand-tag{
    color: var(--primary-color);
    
}

.main-row{
    /* border: 1px solid black;  */
    display: flex;
} 
.landing-image{
  /* border: 1px solid black; */
}

.landing-image img{
    width: 100%
}
.banner-heading{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.banner-head{
   text-align: center;
    /* border: 1px solid black; */
   font-size: 4.5rem;
   text-align-last: center;
   margin-top: 7rem;
}

.banner-tag{
    /* border: 1px solid black; */
    font-size: 3rem;
    text-align: justify;
    text-align-last: center;
    margin-top: 3rem;
}
.banner-button-box{
     /* border: 1px solid black; */
     margin-top: 8rem;
    height: 9rem;
     display: flex;
     justify-content: space-between;
}
.btn-started{
  border: none;
  width: 20rem;
  background-color:#fb7185;
  border-radius: 1rem;
}
.btn-started >a {
    color: #fff1f2;
}
.btn-github{
 border: none;
 width: 15rem;
 background-color:#fff1f2;
 border-radius: 1rem;
}
.btn-github>a{
    color: #fb7185;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
.red-text{
    color: #fb7185;
   
}
.size{
    font-size: 4rem;
}
/* -------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    html{
        font-size: 40%;
    }
    [class*="col-"] {
        width: 100%;
       }
       .main-row{
           display: flex;
           flex-direction: column;
    }
       
}
/* -------------------------------------------------------------animation */
