*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
}

:root{
    --primary-color:#fb7185;
    --border-color:#fecaca;
    --background-color: #fff1f2;
    --discount-color: red;
    --error-alert-color:#f87171 ;
    --warning-alert-color:#facc15 ;
    --info-alert-color:#0ea5e9 ;
    --success-alert-color:#86efac ;
    --badge-notification-color: red;
    --badge-online-color: green;
    --random-color-1: #1f2937;
    --random-color-2 :#881337 ;
    --random-color-3:#1e3a8a ;
    --h1-font-size: 3.4rem;
    --h2-font-size: 3rem;
    --h3-font-size: 2.5rem;
    --h4-font-size: 1.8rem;
    --h5-font-size: 1.6rem;
    --h6-font-size: 1.4rem;
    --p-font-size: 2.3rem;
}
:root{
    --card-tittle-font-size: 2.5rem;
    --card-heading-font-size: 2.3rem;
    --card-tag-font-size: 2rem;
    --card-description-font-size: 2.2rem;
    --card-price-font-size : 2.3rem;
    --card-discount-font-size: 1.7rem;
}
