@import "../resetcss.css";


@media screen and (max-width: 768px){
 .slider-box{
    max-width: 35rem;   
    height: auto;
 }    
 .show-dimension{
   border: 1px solid black;
   
}
.show-dimension img{
   width: 100%; 
   height: auto;
}
}

/* ------------------------------------------------------------------------------------------------------------------- */

.skin{
    padding: 0.5rem 0.5rem 0 0.1rem;
    
}
.card-skin{
    margin: 1rem;
    width: 35rem;
}

a{
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

  article a{
      display: block;
      margin-top: 1rem;
      padding-left: 2rem;
      
  
  }
  article{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      /* margin : 2rem 0 8rem 0; */
  }
  

    /*-------------------------------------------------avatar  */
.slider-box{
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 70rem;
    margin: 2rem auto;
}
.slider{
    width: 30rem;
    height: 1rem;
     position: relative;
}
.slider input[type = "range"]{
    position: absolute;
    left: 0;
    top:0;
    width: 30rem;
    height: 1rem;
    -webkit-appearance: none;
    background: transparent;
    z-index: 99;
}

.slider input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border: 2px solid rgb(9,205,240);
    cursor: pointer;
    box-shadow: 0 0 0 1px #fff;
    border-radius: 50%;
}

.slider input ::-webkit-slider-thumb:hover{
    transform: scale(1.1);
}
.slider progress{
    width: 30rem;
    height: 1rem;
    -webkit-appearance: none;
    position: absolute;
    top:0;
    border-radius: 0.5rem;
    overflow: hidden;
}
.slider progress::-webkit-progress-bar{
    background: #f0f0f0;
}
.slider progress ::-webkit-progress-value{
    background: rgb(9,205,240);

}
.slider-value{
    font-family: "google sans regular";
    width: 3rem;
    height: 2rem;
    margin-left: 1rem;
    text-align: center;

}
/* ---------------------------------------------------------------------slide-show */
.slide-show-container{
    /* border: 1px solid black; */
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   
}
.show-dimension{
    width: 90rem;
    
}
.show-dimension img{
    width: 100%;
    height: auto;
}
.fwd-icon, 
.bck-icon{
    position: absolute;
    top: 50%;
    font-size: 4rem;
    text-align: center;
}
.fwd-icon{
    right: 10%;
}
.bck-icon{
    left: 10%;
}
.bck-icon:hover{
    background-color: var(--background-color);
    border-radius: 1rem;
}
.fwd-icon:hover{
    background-color: var(--background-color);
    border-radius: 1rem;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  /* ------------------------------automatic */
  
.active {
    background-color: #717171;
  }
  .adot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .adot:hover {
    background-color: #717171;
  }