@import "../resetcss.css";

.skin{
    padding: 0.5rem 0.5rem 0 0.1rem;
    
}
.card-skin{
    margin: 1rem;
    width: 35rem;
}

a{
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

  article a{
      display: block;
      margin-top: 1rem;
      padding-left: 2rem;
      
  
  }
  article{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      
  }

    /*-------------------------------------------------avatar  */
  
      .img-av {
        border-radius: 50%;
        height: 7rem;
        width: 7rem;
        vertical-align: middle;
      }
      .s {
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        vertical-align: middle;
      }
      .m {
        border-radius: 50%;
        height: 5rem;
        width: 5rem;
        vertical-align: middle;
      }
      .l {
        border-radius: 50%;
        height: 7rem;
        width: 7rem;
        vertical-align: middle;
      }
      .of-div {
        overflow: hidden;
        margin-left: -2rem;
      }
      
      .img-av-r {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
      }
      .avatar-container{
        border: 1px solid var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        margin : 2rem 0 2rem 0;
        padding: 1rem 0;
      }