@import "../resetcss.css";

  
  /* ----------------------------------------------------------------------------------------------------------------------- */
.alert-container{
 display: flex;
flex-direction:column;
margin : 2rem 0;
}

.list-alert-container >*{
 border: 1px solid black;
 padding: 1rem;
list-style: none;
 width: 70%;
}

li{
 font-size: 2rem;
        
}
.red-alert{
background-color: var(--error-alert-color) ;
color:var(--background-color);
}

.warning-alert{
background-color:var(--warning-alert-color);
}

.info-alert{
background-color: var(--info-alert-color);
}

.success-alert{
background-color: var(--success-alert-color);
}

.red-outline{
border-color: var(--error-alert-color);
color: var(--error-alert-color);
}

.warning-outline{
border-color: var(--warning-alert-color) ;
}

.info-outline {
border-color: var(--info-alert-color) ;
color: var(--info-alert-color);
}

.success-outline{
border-color:var(--success-alert-color) ;
}